[2014-07-23 09:11] segoerke opened #1 "Review of new basic test profile"
I just pushed Ingo's work to have a basic test profile of WFS 1.1.0 tests. These basic tests do not require specific test data. There is a new branch "new-basic-profile" consisting of these changed tests.

We have to review this basic tests and check how to further improve them to replace the current "basic" tests.

[2014-07-24 22:35] bermud opened #2 "wfs-1.1.0-Basic-GetFeature-tc200.1"
Hi,-
Please check 10-203 CR for tc200.1 and this test needs to be fixed.
Thanks
[Originally reported in the OGC CITE issue tracker: issue #819](https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=819)

_Opened: 2013-06-20 17:47:35 Last Updated: 2013-12-05 13:03:30_

[2014-08-06 13:37] ghost opened #3 "Transaction tc 4.1 crashes because of wrong syntax"
Stacktrace:
Error in call to extension function {public synchronized void com.occamlab.te.TECore.callTest(net.sf.saxon.expr.XPathContext,java.lang.String,java.lang.String,net.sf.saxon.om.NodeInfo,java.lang.String) throws java.lang.Exception}: Exception in extension function java.lang.Exception: Fatal Error: An xsl:when element must not contain an xsl:when element; SystemID: file:/home/goerke/teame

[2014-08-07 08:51] #3 closed, assigned to nobody

[2014-08-20 07:47] ghost opened #5 "Transaction-tc13.1 with wrong syntax"
Report Evren Coskun (2014-08-15)
might be related to -tc4.1

Stacktrace:

Error message:
Test wfs:wfs-1.1.0-Transaction-tc13.1 type Mandatory default result Passed (s0027/d150e34540_1/d150e721_1/d150e31238_1/d150e25931_1) Assertion: In response to a valid delete request, all matching features shall be deleted. Error in call to extension function {public synchronized void com.occamlab.te.TECore.cal

[2014-09-03 12:00] ghost opened #6 "Transaction-tc11.1 broken"
<wfs:GetFeature xmlns="http://www.occamlab.com/ctl" xmlns:ctl="http://www.occamlab.com/ctl"
                xmlns:gen="java:com.occamlab.te.Generator"
                xmlns:gml="http://www.opengis.net/gml"
                xmlns:myparsers="http://teamengine.sourceforge.net/parsers"
                xmlns:ogc="http://www.opengis.net/ogc"
                xmlns:ows="http://www.opengis.net/ows"

[2014-09-04 13:53] #5 closed, assigned to nobody

[2014-09-05 13:26] bermud opened #8 "Test wfs:wfs-1.1.0-Transaction-tc13.1 issue"
Here is the log. It is not clear what the issues are.

[code]

Reported by: Evren Coskun

[2014-09-05 15:53] #8 closed, assigned to nobody

[2014-09-13 19:27] mbarto opened #9 "wfs:wfs-1.1.0-Basic-GetCapabilities-tc9.2"
The request URL misses a ? separator.

The URL used now is something like: http://localhost:8080/geoserver/wfsversion=1.1.0#request=GetCapabilities,service=WFS

It should be:
http://localhost:8080/geoserver/wfs?version=1.1.0#request=GetCapabilities,service=WFS

[2014-09-13 19:29] mbarto opened #10 "wfs:wfs-1.1.0-Basic-GetCapabilities-tc16.5"
The request URL misses a ? separator.

The URL used now is something like: http://localhost:8080/geoserver/wfsversion=1.1.0#request=GetCapabilities,service=WFS

It should be:
http://localhost:8080/geoserver/wfs?version=1.1.0#request=GetCapabilities,service=WFS

[2014-09-13 20:42] mbarto opened #11 "wfs:wfs-1.1.0-Transaction-tc7.1"
The final GetFeature request of this test is included in xslt with an xi:include directive.
The GetFeature body contains some variables and functions that are not expanded before being sent as the request body:

encode-for-uri($fid)

This should be replaced by the fid returned by the previous request, but since it does not happen,the request is invalid and so it fails.

[2014-09-13 21:17] mbarto opened #12 "wfs:wfs-1.1.0-Transaction-tc13.1"
This test is failing when trying the final GetFeatureByName for the 3 deleted features.
The issue is that to create GetFeatureByName request, some data in the insert transaction request is searched which cannot be there:

[code]

There are no such xpath as $response//gml:featureMembers/gml:featureMember[3]/\* or ./gml:name in the transaction response that is something like this:

[code]

[2014-09-16 15:48] jeanmichelfischer opened #13 "LayerNotDefined possible wrong assertion?"
The tests:
wms:wmsops-getmap-params-layers-5
and
wms:wmsops-getmap-params-layers-6
fail.

The assertion is:

[code]

It might fail because of the _not_ in the expression, because our SUT answers with the wanted Exception and code:

[code]

[2014-09-16 15:54] #13 closed, assigned to nobody

[2014-09-17 07:47] #11 closed, assigned to nobody

[2014-09-17 07:48] #10 closed, assigned to nobody

[2014-09-17 07:48] #9 closed, assigned to nobody

[2014-09-17 22:00] #6 closed, assigned to nobody

[2014-09-17 22:09] #2 closed, assigned to bermud

[2014-10-10 10:01] bermud opened #16 "Content-Type of DescribeFeatureType should be "text/xml""
Reported at CITE Forum
http://lists.opengeospatial.org/pipermail/cite-forum/2014-October/001373.html

Re:  wfs:DescribeFeatureType-output-format-default (WFS 1.1.0).

It expects the Content-Type (MIME type) of the DescribeFeatureType response to be "text/xml; subtype=gml/3.1.1". I believe this to be incorrect. Since the response is an XSD, the correct Content-Type should be "text/xml".

I guess th

[2014-10-10 10:08] #16 closed, assigned to nobody

[2014-11-19 16:30] bermud opened #18 "LockFeature Tests are issued even though the Lock attribute is not in FeatureTypeList"
https://portal.opengeospatial.org/services/srv_public_issues.php?call=viewIssue&issue_id=940

[2014-11-27 13:12] #12 closed, assigned to nobody

[2014-12-05 07:24] segoerke opened #19 "WFS 1.1.0 conformance test wfs-1.1.0-Basic-GetCapabilities-tc16.5 fails"
WFS 1.1.0 conformance test wfs-1.1.0-Basic-GetCapabilities-tc16.5
fails with:

A sequence of more than one item is not allowed as the first argument
of lower-case() ("service", "request")

The ExceptionReport (below) contains two Exception elements, which is
allowed according to section 7.7 Exception reporting of the WFS
1.1.0 specification.

--- <?xml version="1.0" ?> <ExceptionReport version="1.

[2015-03-05 08:30] segoerke opened #22 "test wfs-1.1.0-Transaction-tc13.1 uses invalid typeName"
Problem is empty Typename Element in request:

[code]

[2015-03-28 02:51] bermud opened #24 "Update revision scheme"
Starting this revision, the revision number will follow the conventions described in the [wiki](https://github.com/opengeospatial/cite/wiki/OGC-Compliance-Testing-Tools)

[2015-03-28 03:07] #24 closed

[2015-04-14 06:59] dbretschneider commented on #22
I have executed the actual ```ets-wfs11``` branch ```master```. I cannot reproduced the error. The test step was succesful with all sub-tests.

![tc13-1](https://cloud.githubusercontent.com/assets/3016561/7131900/70ee4824-e284-11e4-8f7b-8ab8df967626.png)

[2015-04-23 09:49] dbretschneider commented on #22
@segoerke: Can we close this issue? I cannot reproduced.

[2015-04-23 09:51] dbretschneider commented on #22
Cannot reproduced, because deegree used HTTP GET. Issue occurs while using HTTP POST.

[2015-04-24 07:53] dbretschneider commented on #19
Which service do you used? I have executed the Test-Suite against [deegree 3.3.6](http://cite.lat-lon.de/deegree-webservices-3.3.6/services/wfs110?):

**Request**
`http://cite.lat-lon.de/deegree-webservices-3.3.6/services/wfs110?version=1.1.0&request~GetCapabilities!service~WFS`

**Response**
[code]

[2015-05-15 09:51] bermud opened #37 "Aggregate geometry types not being checked in the GetCapabilities"
Some servers does not fully support certain operations on aggregate geometries, so that a number of tests using these as geometry operands fail: 29.4, 200.3, 201.3, 205.1.

Even  restricting the  WFS Capabilities by excluding the aggregate geometry types from the supported object types in, which conforms to the specification. The test does not check this section of the Capabilities document, so th

[2015-05-20 19:26] bermud opened #39 "test data link is broken in site"
http://cite.opengeospatial.org/teamengine/about/wfs/1.0.0/site/ in 1.22

[2015-06-03 11:22] bermud commented on #1
Fixed in https://github.com/opengeospatial/ets-wfs11/commit/32384c32978eef0a24567edb562acff1590eff5d

[2015-06-03 11:22] #1 closed

[2015-06-03 11:27] bermud commented on #39
This issue is for wfs 1.0.0. It was moved to that tracker.
https://github.com/opengeospatial/ets-wfs10/issues/5

[2015-06-03 11:27] #39 closed

[2015-06-30 15:45] bermud commented on #22
Was closed for 1.23

[2015-06-30 15:45] #22 closed

[2015-07-27 13:10] bermud opened #42 "Complete WFS 1.1.0 Basic Test"
Complete the WFS 1.1.0 Basic test
- It should pass with some available WFS severs that have no data
- Errors should be clear and should provide possible fix (what to expect)

List of servers are here:
https://docs.google.com/spreadsheets/d/1no8wfRhM9xU_SipM-MLCxFgtv8P6vJgTEb7j9kT-Mpk/pubhtml?gid=0&single=true

[2015-08-02 07:58] bradh opened #43 "Build issues with WFS 1.1 (needs source 1.5 / target 1.5)"
Simple mvn build results:
[code]

[2015-08-02 20:51] bradh commented on #43
Already resolved.

[2015-08-02 20:51] #43 closed

[2015-08-11 08:57] segoerke commented on #42
With the current version of the Test Suite, it is possible to test successfully implementations which are not using the WFS 1.1.0 CITE Test data.

The following example is not using the test data and passing the tests on beta:
http://demo.deegree.org/utah-workspace/services/wfs110?request=GetCapabilities&service=WFS

[2015-08-11 08:58] segoerke commented on #42
@bermud I think the issue can be closed now.

[2015-08-11 11:17] bermud commented on #42
@segoerke, Thank you very much for advancing this issue.  Can you please provide urls of other services which are not deegree based. Which ones passed from the list of servers provided?

[2015-08-11 11:55] segoerke commented on #42
http://services.nationalmap.gov/arcgis/services/WFS/geonames/MapServer/WFSServer?request=GetCapabilities&service=WFS
For this one, the Mime-Type of DescribeFeatureType Responses is not "text/xml; subtype=gml/3.1.1", so several DescribeFeatureType-Tests are failing.

For us, the Response Content-Type is a valid way to check for the Mime-Type of the response.
This behaviour is the same for all ArcGI

[2015-08-12 14:15] matsoo opened #45 "wfs:wfs-1.1.0-Basic-GetCapabilities-tc12 fails if server supports WFS 2.0"
The test fails because the parser seems to be expecting a WFS 1.1.0 capabilities document despite not sending a version number.

The WFS 2.0.0 capabilities causes the following parser error:
   Messages from parser p:XMLValidatingParser.GMLSF1:
        Validation error:
  cvc-elt.1.a: Cannot find the declaration of element 'WFS_Capabilities'.
1 validation error detected.

[2015-09-03 15:46] jmfischer opened #46 "Test wfs:wfs-1.1.0-Basic-DescribeFeatureType-POST-tc3 fails"
Hi,

the test *wfs:wfs-1.1.0-Basic-DescribeFeatureType-POST-tc3* fails:

Error in call to extension function {public static boolean org.opengis.cite.wfs11.GetFeatureTestConditions.checkFeatureTypesDescribedInSchema(org.w3c.dom.Node,org.w3c.dom.Node) throws java.lang.Exception}: Exception in extension function org.xml.sax.SAXParseException; lineNumber: 4; columnNumber: 24; Invalid byte 2 of 3-byte

[2015-09-08 11:07] jmfischer commented on #45
I can reproduce this as well and getting the same error message.

[2015-10-01 09:41] jmfischer commented on #46
@bermud
Hi Luis,

just discovered it is the "EntitéGénérique" FeatureType. I removed this FeatureType from the WFS-Configuration and now the Tests pass.

BR
Jean-Michel

[2015-10-01 12:21] dstenger commented on #42
We analysed the list and all services have a major shortcoming preventing it from passing the test suite.

Result of the evaluation:

|USGS Service|URL|Result|
|------------|---|------|
|WFS/geonames|http://services.nationalmap.gov/arcgis/services/WFS/geonames/MapServer/WFSServer?request=GetCapabilities&service=WFS|POST Encoding not implemented|
|WFS/govunits|http://services.nationalmap.gov/arcgis

[2015-10-01 12:54] bermud commented on #46
@jmfischer. Great to know. Will close this issue.

[2015-10-01 12:54] #46 closed

[2015-10-01 14:18] bermud opened #47 "Move to bottom information about selecting the basic test and mark it with warning in the main ctl"

[2015-10-01 14:19] bermud commented on #42
@dstenger, please look into only doing GET for the basic.

[2015-10-08 09:23] dstenger commented on #18
@bermud, do you think implementation work is necessary here?

[2015-10-08 10:14] dstenger commented on #47
The pull request will be reviewed and merged, when a new release is prepared.

[2015-10-08 13:51] bermud commented on #37
@dstenger will contact Tony G.  so he can make the folder available for further testing.

[2015-10-08 14:59] dstenger commented on #45
The ATS has to be updated as well: https://github.com/opengeospatial/ets-wfs11/blob/master/src/site/markdown/ats-wfs11-basic-cc/GetCapabilities/GET/BasicGetCapabilities-GET-tc12.md

Proposed approach for implementation:
 * Remove schema validation agains 1.1.0 schema.
 * Parse values of ows:ServiceTypeVersion elements and determine the highest version.
 * Update check on attribute wfs:WFS_Capabili

[2015-10-23 15:36] dstenger commented on #19
Can you please provide a service to reproduce this error?

[2015-10-26 11:30] dstenger commented on #37
Test 201.2:
Why does the filter use an aggregate geometry type? Wouldn't a simple geometry type be fine as well? To fix this, the filter of the test has to be simplified.
Same applies to 205.1.

How were the test data imported? They include aggregated geometries which are not supported by the server (e.g. 205.1. returns a MultiPoint).

[2015-10-26 14:12] dstenger commented on #19
As there are no test services and no specific applications available, the issue can be closed. If the problem occurs again, the issue can be reopened.

[2015-10-26 14:12] #19 closed

[2015-10-26 15:39] dstenger commented on #37
We executed the WFS 1.1.0. test suite with the service provided by Tony G.

Result of the analysis:

In total 5 Tests fail:
 * wfs:wfs-1.1.0-Basic-GetFeature-tc29.4
  * FAILURE: Expected at least one sf:AggregateGeoFeature instances in response
 * wfs:wfs-1.1.0-Basic-GetFeature-tc200.3
  * FAILURE: Expected one or more sf:AggregateGeoFeature instances in response (0 features included)
 * wfs:wfs-1

[2015-10-27 09:05] dstenger commented on #45
Fixed in pull request #49.

[2015-10-27 14:54] dstenger commented on #37
As there is no fix necessary, the issue is closed.

[2015-10-27 14:54] #37 closed

[2015-10-27 16:01] dstenger commented on #47
Pull request was merged to master branch. This fix will be part of the next release.

[2015-10-27 16:01] #47 closed

[2015-10-27 16:03] dstenger commented on #45
Pull request was merged to master branch. This fix will be part of the next release.

[2015-10-27 16:03] #45 closed

[2016-02-03 15:45] dstenger commented on #42
Test results can be summarized on following wiki page: https://github.com/opengeospatial/ets-wfs11/wiki/WFS-1.1.0-Servers-Tested-with-the-Test-that-requires-no-data

[2016-02-17 15:22] bermud commented on #42
Can we simplify the test, so it only exercises the GET request?

[2016-02-23 08:46] dstenger commented on #18
Suggestion for implementation:
 * For each feature in locking tests it is checked whether Elements <Operations> and/or <Operations><Lock></Operations> exist.
  * None or both of those elements exists: feature can be used for locking test.
  * Only the first but not the second element exists: feature must NOT be used for locking test.

Implementation has some complexity as each locking test has to

[2016-04-04 10:08] dstenger commented on #18
Enhancement and pull request (#50) was created enabling separation of locking from transaction CC.

The enhancement makes possible improved error analysis regarding this issue.

[2016-04-06 22:25] bermud opened #51 "Check which servers can be open with clients"
Check the list f services on the wiki and  mark which ones can be open with selected clients
https://github.com/opengeospatial/ets-wfs11/wiki/WFS-1.1.0-Servers-Tested-with-the-Test-that-requires-no-data

[2016-04-13 14:53] dstenger opened #52 "wfs:wfs-1.1.0-Basic-GetCapabilities-tc13 is failing"
wfs:wfs-1.1.0-Basic-GetCapabilities-tc13

 Request : http://localhost:19090/maps?&version=1.1.0&request=GetCapabilities
 Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflect.InvocationTargetException
 Result: Failed

[2016-04-13 14:54] dstenger commented on #52
Can you please check what your server returns when you send following request? http://localhost:19090/maps?&version=1.1.0&request=GetCapabilities

[2016-04-18 12:26] Vinni0803 commented on #52
Yes, this url is not working properly, it says Bad Gateway. So, i have changed the server config file and  this issue is resolved.

[2016-04-18 12:47] Vinni0803 opened #53 "Test Name : wfs:wfs-1.1.0-Basic-DescribeFeatureType-POST-tc3"
For  DescribeFeatureType request without TYPENAME param it gives :

    <xs:element name='basicpolygons' type='tows:basicpolygonsType' substitutionGroup='gml:_Feature' />

    <xs:complexType name='basicpolygonsType'>
     <xs:complexContent>
     <xs:extension base='gml:AbstractFeatureType'>
     <xs:sequence>
     <xs:element name ='id' nillable='true' minOccurs='0' maxOccurs='1'>
    <xs:simple

[2016-04-19 13:23] #51 closed

[2016-04-20 15:14] Vinni0803 commented on #53
This is related to teamengine build, as this test case is getting passed when i'm testing WFS on ogc's site.

[2016-04-20 15:36] Vinni0803 opened #54 "TestName : Test wfs:wfs-1.1.0-Basic-GetFeature-tc5"
I.m using tinyows server for WFS. Here is the configuration file for tinyows server :

[code]

Here is the map file:

[code]

Test case info : http://cite.opengeospatial.org/teamengine/about/wfs/1.1.0/site/ats-wfs11-basic-cc/GetFeature/GET/BasicGetFeature-GET-tc5.html

Log of test case :

Message d149e8734_1:

[code]

And I'm sending this request it returns correct result :

[code]

So I don't no

[2016-04-25 09:46] dstenger commented on #53
@Vinni0803, the function "checkFeatureTypesDescribedInSchema" (with two arguments) cannot be found.
As this function is implemented in Java, please make sure that the Java libraries are installed correctly.
The libraries can be found inside following zip file "ets-wfs11-deps.zip". This file has to be extracted into "teamengine/WEB-INF/lib".

[2016-04-25 09:47] dstenger commented on #53
Please confirm if this hint solves your problem.

[2016-04-25 10:04] Vinni0803 commented on #53
Yes, this solved my problem.
Thanks @dstenger .

[2016-04-25 11:54] #53 closed

[2016-04-27 07:37] #52 closed

[2016-04-29 11:01] dstenger commented on #18
Pull request #50 was merged into master branch and will be part of the upcoming release.

[2016-05-02 13:38] dstenger commented on #54
Following function returns an empty result "gfExt:findFeatureTypeAndPropertyName".

Can you please provide a test server or an example capabilities document so that we can analyse the problem more in detail?

[2016-05-12 16:28] dstenger commented on #54
Is the issue still urgent? Can you please provide the capabilities document leading to the described failure?

[2016-05-12 17:01] dstenger opened #55 "Failures in "Basic" Testsuite due to functions written in Java: "Invalid byte 2 of 3-byte UTF-8 sequence""
Three tests fail with both RIs if the "Basic" Testsuite is used. All three test failures originate in Java functions.

RIs:
- http://cite.deegree.org/deegree-webservices-3.3.14/services/wfs110?service=WFS&request=GetCapabilities
- http://services.interactive-instruments.de/cite-xs-46/cite/cgi-bin/wfs110/wfs/wfs?request=GetCapabilities&service=WFS

Failed tests:
- wfs:wfs-1.1.0-Basic-DescribeFeatur

[2016-05-19 15:19] bermud commented on #55
@rjmartell,  can you please advise on this issue?

[2016-05-19 15:45] dstenger commented on #42
**Current status:**

See Wiki page: https://github.com/opengeospatial/ets-wfs11/wiki/WFS-1.1.0-Servers-Tested-with-the-Test-that-requires-no-data

Two tests have to be adjusted:
 * Failure: DefaultSRS value is not a valid URI
  * Test: ctl:SchematronValidatingParser
  * Solution: Capabilities.sch is adjusted to accept experimental encodings (e.g. urn:x-ogc:def:crs:EPSG:4326).
 * Failure: MIME type

[2016-05-23 08:11] dstenger commented on #42
Fixes for two failures were implemented and are provided via pull requests:
 * Failure: DefaultSRS value is not a valid URI
  * #56
 * Failure: MIME type not using "text/xml; subtype=gml/3.1.1"
  * #57
Both fixes will be part of the next release.

[2016-05-25 06:07] Vinni0803 commented on #54
Sorry for the delay.
Here is getCapabilities document.
[getcapabilities.TXT](https://github.com/opengeospatial/ets-wfs11/files/281136/getcapabilities.TXT)

[2016-05-27 12:43] ranadeepak opened #58 "tests wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc3.1 failing"
Hi,
I tried running the ets-wfs11 test suite against my WFS 1.1.0 webserver. All of the the test cases are passing except the 4 listed below:
1. wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc3.1
2. wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc3.2
3. wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc3.3
4. wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc3.4

These test cases expect a valid response even if the mandator

[2016-05-27 18:47] rjmartell opened #59 "wfs-1.1.0-Transaction-tc13.1: Confirming that features were deleted"
It is expected that three features were successfully deleted. To confirm this, the `wfs:GetFeatureByName` test is called a total of 9 times, since three calls appear within an xsl:for-each instruction that selects the feature identifiers from the initial insert request.

The feature identifiers are never actually used in the GetFeature requests, which filter on the gml:name property. A GET request

[2016-05-27 20:02] rjmartell commented on #59
In the `wfs:GetFeatureByName` test (in asserts.ctl), the entity body is enclosed by a CDATA section for some reason. This has the effect of escaping the XML markup, which seems very odd.

[2016-05-27 21:34] rjmartell commented on #59
The [deegree 3.3.14 reference implementation](http://cite.deegree.org/deegree-webservices-3.3.14/services/wfs110?service=WFS&request=GetCapabilities) fails this test. Three of the nine GetFeature requests (all with typeName="sf:EntitéGénérique") produce an exception report:

[code]

[2016-05-28 11:19] ranadeepak commented on #58
I even tried the reference server: http://cite.deegree.org/deegree-webservices-3.3.14/services/wfs110?service=WFS&request=DescribeFeatureType. It also returns Exception report

[2016-05-30 14:13] dstenger commented on #58
Thank you for reporting this issue. We will do further investigation.

[2016-05-30 14:41] dstenger commented on #59
deegree has a problem with the encoding there:
[code]

But this is not related to the originally reported bug.

[2016-05-30 15:20] dstenger commented on #59
When the provided test server is used following exception is returned by the service:
[code]

So, the failure occurs when inserting or deleting the features.

We will do further investigation on this issue.

[2016-05-30 15:43] #59 closed

[2016-05-31 07:22] dstenger commented on #59
Relevant commit: https://github.com/opengeospatial/ets-wfs11/commit/9098d89d3edfdbece7c53c7aff6e58e01f25fc2d

[2016-05-31 13:20] lgoltz commented on #58
For further investigations we need some more detailed information. Can you provide the URL of your service? Or at least the log files exported from the session?
We assume you executed the official WFS 1.1.0 Testuite [1] , selecting the profile 'Full'?

[1] http://cite.opengeospatial.org/teamengine

[2016-05-31 13:28] dstenger opened #60 "DescribeFeatureType GET tests fail as Content-Type is evaluated too strict"
Failing tests:
 * wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc4
 * wfs:DescribeFeatureType-output-format-gml-3.1.1

Failure of wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc4:
[code]

Failure of wfs:DescribeFeatureType-output-format-gml-3.1.1:
[code]

[2016-05-31 13:31] lgoltz commented on #54
Ok, as we can see in the Capabilities only one feature type tows:worldboundaries is provided by the WFS. Can you provide the DescribeFeatureType response, so we can get further information about the structure of the data? If possible it would be also helpful to take a look at the full GetRecords Response.

[2016-05-31 13:36] dstenger commented on #60
**Analysis of bug:**
Both tests check whether the header Content-Type starts with 'text/xml; subtype=gml/3.1.1'.
The tests fail as the test server includes a 'charset=utf-8;' which is not allowed according to the test.
The test could be made more lax by just checking if 'text/xml;' and 'subtype=gml/3.1.1' are included in the Content-Type header.

[2016-05-31 15:06] dstenger commented on #60
wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc4 has already been fixed in #57.

[2016-06-02 13:20] bermud opened #61 "Update Test Notes - Overview and Structure of the test"
Update the notes for developers to understand very clear the scope of the basic

- Core (no test data)
- Basic
- Transaction
- Locking
- XLink

[2016-06-06 14:41] dstenger commented on #61
Actually, the Core test suite bases on the Basic CC (as defined in the WFS 1.1.0 specification).

I have just updated the GUI for starting a WFS 1.1.0 test run:
[code]

Are there any suggestions for further improvements regarding the GUI to start WFS 1.1.0 tests?

[2016-06-07 11:35] ranadeepak commented on #58
Hi
I realized the reason for this fix. Actually, there is difference in WFS 1.1.0 DescribeFeatureType POST and GET request. For DescribeFeatureType GET request both and 'service' and 'version' are mandatory. Whereas the DescribeFeatureType POST schema says 'service' and 'version' are optional and defaults to 'WFS' and '1.1.0'. So I have updated our service for POST and setting the respective defau

[2016-06-07 16:41] dstenger commented on #58
Hi,
is your problem solved now or do you need any further help?
And would you propose any further actions regarding the ETS (e.g. updating the documentation)?

[2016-06-08 09:18] dstenger commented on #61
Pull request was created (#62) and will be part of the next release.

[2016-06-08 10:24] dstenger commented on #42
Both pull requests (#56 and #57) were merged into master branch (after having done tests).
The fixes will be part of the upcoming release.

[2016-06-08 10:24] #42 closed

[2016-06-08 10:26] dstenger commented on #61
Pull request #62 was merged into master branch (after having done tests).
Fix will be part of the upcoming release.

[2016-06-08 10:26] #61 closed

[2016-06-08 10:44] dstenger commented on #60
In the next release "wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc4" will pass.

"wfs:DescribeFeatureType-output-format-gml-3.1.1" is still failing.

[2016-06-08 12:36] ranadeepak commented on #58
Hi,
My problem is solved but just wanted to confirm that why do we have this difference in GET and POST request. Is this difference documented in OGC spec for WFS 1.1.0.

[2016-06-09 10:51] Vinni0803 commented on #54
DescribeFeatureType response :

[DescribeFeatureType.txt](https://github.com/opengeospatial/ets-wfs11/files/306709/DescribeFeatureType.txt)

GetFeature response :
[featureType.txt](https://github.com/opengeospatial/ets-wfs11/files/306710/featureType.txt)

[2016-06-09 12:04] lgoltz commented on #54
Well, your FeatureType is named tows:worldboundaries in the Capabilities, but tows:world_boundaries in the DescribeFeatureType-Response and GetFeature-Response.

The names must match exactly, as the test looks for data based on the notation in the Capabilities. Does the GetFeature request with typename=tows:worldboundarie really return features from world_boundaries?

[2016-06-09 12:27] Vinni0803 commented on #54
Earlier I have this tows:worldboundaries in my setup but now the setup has changed to tows:world_boundaries but both layers are same. I can share shape file, If you want. You  can consider tows:world_boundaries same as  tows:worldboundaries.

[2016-06-09 13:43] lgoltz commented on #54
OK, so the capabilities in on of the previous command are outdated and contains the feature type tows:world_boundaries instead of tows:worldboundaries?

[2016-06-09 13:46] Vinni0803 commented on #54
Yes.

[2016-06-09 14:17] lgoltz commented on #54
I cannot reproduce the error with the responses you provided (after changing the feature type name in the capabilities). Lets take a look what the test and the precondition step of the test respectively does:
 1. The capabilities document is parsed for the provided feature types
  => tows:world_boundaries with binding xmlns:tows="http://www.aaaa.com/"
 2. The feature model is parsed from DescribeF

[2016-06-15 14:31] dstenger commented on #58
Section 14 of the WFS 1.1.0 spec is about KVP.
Section 7.8 describes the common XML attributes including "version" and "service" (although, it is not clearly explained if they are mandatory or not). As the schema marks them as optional, they should be handled as optional parameters.

[2016-06-15 14:42] dstenger commented on #60
We are currently working on the fix.

[2016-06-16 06:52] Vinni0803 commented on #54
Here is the log :

![log](https://cloud.githubusercontent.com/assets/13556911/16107883/e7448710-33bc-11e6-802b-b73bf9542851.png)

![test](https://cloud.githubusercontent.com/assets/13556911/16107886/ecd6f7b2-33bc-11e6-948e-8f799a84ed43.png)

[2016-06-16 14:40] dstenger commented on #60
"wfs:DescribeFeatureType-output-format-gml-3.1.1" was fixed in pull request #63.

The fix will be part of the next release.

[2016-06-17 06:56] ranadeepak commented on #58
This issue was because of that missing clearification :) . I think this issue can be closed now!

Thanks for all your responses!

[2016-06-17 08:13] #58 closed

[2016-06-20 10:42] lgoltz commented on #54
Please download the log files from the session and attach them here.

[2016-06-30 08:43] dstenger opened #64 "Replace Basic-WFS CC with Core test suite"
As the data agnostic Core test suite covers exactly the Basic conformance class, the old Basic-WFS CC can be replaced with the Core test suite.

This will lead to an always data agnostic Basic-WFS CC.

[2016-06-30 08:48] dstenger commented on #64
Changes that have to be done:
 * Option between "Full" and "Core" is removed.
 * If Basic-WFS CC is executed, the Core test suite (GET and POST) is executed. There is no way to execute the old data depended Basic-WFS CC anymore.
 * The GUI is updated (regarding description and texts).
 * The index.md is updated.

[2016-06-30 08:55] dstenger commented on #64
Pull request with implementation of the enhancement was created: #65.

[2016-06-30 08:56] dstenger commented on #64
Please review the changes and give us feedback.
We would propose intensive testing of the changes.

[2016-06-30 15:28] bermud commented on #64
The changes looks good. I made minor edits https://github.com/opengeospatial/ets-wfs11/commit/0d8832e40d59345f77f4ef17cde0bec247d4d197

Suggest to clarify further this in the index.md file the following:

[2016-07-05 09:28] dstenger commented on #64
Thank you for the adjustments! I have merged them into the feature branch.

[2016-07-06 07:08] dstenger commented on #64
The quoted section of the index.md was removed as this information is outdated.

[2016-07-06 14:52] dstenger commented on #60
Fix was successfully tested and merged into master branch. It will be part of the upcoming release.

[2016-07-06 14:52] #60 closed

[2016-07-06 14:53] dstenger commented on #64
Fix was successfully tested and merged into master branch. It will be part of the upcoming release.

[2016-07-06 14:53] #64 closed

[2016-07-13 19:59] rjmartell commented on #55
I just ran revision 1.27 of the test suite in teamengine 4.7.1 against the deegree-3.3.14 RI. I didn't observe any of these failures. Instead, one test failed:

* wfs-1.1.0-Basic-GetFeature-tc4.1: The expression '//wfs:FeatureCollection' is false.

The response included an exception report:

[code]

This is a test for XLink resolution: "The @traverseXlinkDepth and @traverseXlinkExpiry attributes s

[2016-07-14 05:29] dstenger commented on #55
You have to run the "Basic" / "Core" test suite instead of the "Full" test suite (can be selected on main GUI page). Then those errors occur.

We are aware of the above mentioned error which is already fixed for the next version of the RI. In addition, the current Basic WFS CC will be replaced by the "Basic" / "Core" test suite which does not contain the error. So, no further work is required rega

[2016-07-14 06:13] dstenger commented on #55
This issue could be related to https://github.com/opengeospatial/ets-wfs20/issues/40.

[2016-07-14 22:09] rjmartell commented on #55
Oh. I thought "Full" runs every test, including the core ones.

Upon selecting the "Core" tests, I see several stylesheet compilation errors reported:

[code]

[2016-09-16 12:04] matsoo opened #66 "XPath-issue with ows:Exception"
When I test the new basic tests on the beta site I encounter an issue in the wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc5 and wfs:wfs-1.1.0-Basic-GetFeature-POST-tc6. I think the problem is that both test try to send a request without a version parameter, and our server then returns a Exception with the newer ows 1.1 namespace since we also support WFS 2.0. So the exception use the namespace http:/

[2016-09-16 12:41] dstenger commented on #66
Thank you for reporting.

The reported issue is similar to following bug in the ets-wcs11: https://github.com/opengeospatial/ets-wcs11/issues/20

Can you please check what the WFS 1.1 specification says about this case? What response is expected when the version parameter is missing?

[2016-09-16 14:14] matsoo commented on #66
It is not obvious from the specification. I know this issue has been discussed before which is the reason we went with returning the latest version in the first place.
The problem is that both WFS 1.1.0 and 2.0 demand you use the correct version of the exception report when encountering an invalid parameter (neither mentions what to do with a missing version parameter specifically), but both also

[2016-09-16 21:55] bermud commented on #55
@dstenger, is the still an issue?

[2016-09-19 07:08] dstenger commented on #55
Yes, this issue is still not fixed.

To reproduce the error you have to execute the "Basic" Testsuite on http://cite.opengeospatial.org/teamengine/ (not "Full").

It is hard for us to work on that issue as we cannot reproduce it on our internal environment.
The issue is clearly connected to encoding settings.

[2016-09-19 08:26] dstenger commented on #66
As both tests do not test the missing version parameter itself but just if an invalid request returns the correct exception, I propose that both tests should be adjusted by not removing the version parameter but any other mandatory parameter.

Then, the reported problem does not occur any more.

[2016-10-07 16:41] bermud commented on #66
@matsoo, are you ok with dstenger solution?

[2016-10-19 12:42] lgoltz commented on #66
Basically I agree with the solution of @dstenger. But in the case of the test  **wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc5** it is a bit difficult, cause there are no other mandatory parameter. The test consist of two parts as explained in the description:
[code]
I would suggest to remove part [2] completely from the test.

In the test **wfs:wfs-1.1.0-Basic-GetFeature-POST-tc6** I can't see that

[2016-10-21 07:27] dstenger commented on #66
I agree with the analysis of @lgoltz.

Regarding test **wfs:wfs-1.1.0-Basic-DescribeFeatureType-tc5** the second part of the test can be removed as it basically tests the same functionality like the first part (just a different mandatory parameter is removed).

@matsoo can you please specify your problems with test **wfs:wfs-1.1.0-Basic-GetFeature-POST-tc6**?

[2016-10-21 11:13] matsoo commented on #66
I thought it was the same problem as the first test but when I look at it again I realize it is not, so you can ignore that part. Otherwise I agree with your solution.

[2016-10-24 10:32] dstenger commented on #66
Fix is provided by pull request #67.
It is reviewed and will be included in the next release of the ETS.

[2016-10-25 14:11] dstenger commented on #55
We will provide a TEAM Engine session and more detailed information about this bug.

[2016-11-03 13:27] #66 closed

[2016-11-03 14:00] dstenger commented on #66
The fix was tested successfully, merged into master branch and will be part of the next release.

[2016-11-04 13:08] dstenger commented on #55
The error still occurs in ```Basic``` test suite.

Service used for testing: http://cite.deegree.org/deegree-webservices-3.4-RC1/services/wfs110?service=WFS&request=GetCapabilities

Log file is attached to this issue.

[2016-11-04 14:12] bermud commented on #54
@Vinni0803, can you please provide the log files or an example test server for us to further inspect this issue. Thank you!

[2017-02-28 15:03] bermud commented on #55
@rjmartell  Can you please helps us figure out what is going on with this test. It seems RIs are  not passing.

[2017-03-16 13:23] du002cl commented on #55
Any update on this? We are seeing the same issues when trying to run against latest 1.1 Test Suite Version

[2017-03-28 12:48] dstenger commented on #54
@Vinni0803, is this issue still occurring? If it is the case, can you please provide more information? Otherwise, the issue can be closed.

[2017-05-10 10:41] keshav-nangare opened #68 "Add conformance class configuration into the wfs11 test"
The test needs to be updated to better provide information about the grouping of the conformance class and determination about which ones are the basic conformance classes needed for certification.

Changes that are required are described here:

https://github.com/opengeospatial/cite/wiki/Encoding-Conformance-Classes

[2017-05-25 10:59] papalav opened #69 "WFS 1.1.0 DataSet"
This is a query regarding WFS Dataset available at this URL -
http://cite.opengeospatial.org/teamengine/about/wfs/1.1.0/site/data-wfs-1.1.0.zip

The Dataset contains schema for "ComplexGeoFeatureType" in the XSD file "cite-gmlsf1.xsd"

On comparing the xsd with a DecribeFeatureType response from Reference Implementation -
http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs110?service=

[2017-07-28 09:02] dstenger commented on #69
Thank you for reporting the issue. We will do further analysis.

[2017-07-28 10:09] dstenger commented on #55
The bug is still occurring on http://cite.opengeospatial.org/teamengine/.
We are currently working on a solution for this issue.

[2017-08-01 10:44] dstenger commented on #55
The reason for the bug is definitely related to a wrong encoding set in the JVM.

To solve the issue the file encoding can be set as a Java property. The correct encoding is "UTF-8":
[code]

After setting this property the Tomcat of the TEAM Engine has to be restarted and must, of course, use the property (e.g. it is set in setenv.sh).

[2017-08-02 14:11] bermud commented on #55
Suggest to contact Kevin about it.

[2017-08-03 09:18] lgoltz commented on #69
The described problem is  comprehensible. In the downloadable archive the schema 'cite-gmlsf1.xsd' does not include the declaration **reference**  and the test data does not include the property.
The schema in the ets [1] includes the declaration, but the test data [2] does not include a property for it.

The test  **wfs:wfs-1.1.0-Transaction-tc21.1** inserts two features, one  with a **reference*

[2017-08-03 10:27] dstenger commented on #69
We will update the schema on http://cite.opengeospatial.org/teamengine/.

For now, following schema can be used: https://raw.githubusercontent.com/opengeospatial/ets-wfs11/master/src/main/resources/xsd/ogc/cite/cite-gmlsf1.xsd

[2017-08-03 11:20] jeanmichelfischer commented on #54
May I ask what the solution for the problem was? Because I ran into the same situation with this test failing.

[2017-08-03 11:51] dstenger commented on #54
We did not do any fix as we could not reproduce the error.
@Vinni0803 , Can you provide more details, how you solved the issue?

Otherwise, @jeanmichelfischer , can you provide a test service we can use to reproduce the error? Also, the log output and error message could be helpful for us.

[2017-08-03 18:00] jeanmichelfischer commented on #54
@dstenger here is a service you can use: https://services.interactive-instruments.de/ogc-reference/simple/wfs?request=getcapabilities&service=wfs (for 2 or 3 weeks it will be the same content, after that I would like to enable WFS 2.0.0 on it again.)

(It is called simple, because there is no chance to pass the tests with more complex application schemas)

The Log is:
Test wfs:wfs-1.1.0-Basic-GetF

[2017-08-04 11:18] dstenger commented on #54
Thank you for providing further information.

The log of TEAM Engine itself does not provide any additional information which are not already mentioned in this issue.

However, the logging of the Java code provides following information:
[code]

The problems occur from the DescribeFeatureType and GetFeature output.

When trying to validate the GetFeature output of "River" against WFS 1.1.0 and Des

[2017-08-07 18:51] jeanmichelfischer commented on #54
Thank you for your answer. The Java-Log says it all, but is unfortunately not visible for the testers.

I'll investigate this after my holidays (end of August).

[2017-08-10 10:59] dstenger commented on #18
Documentation was enhanced to describe current behaviour and provided via pull request: #70

[2017-08-10 12:12] dstenger commented on #69
Test data were updated and general structure was improved. This fix is provided by pull request #71 and will be part of the next release.
Till then, the previously mentioned workaround has to be used.

[2017-08-16 06:21] lgoltz commented on #55
Service used for testing from https://github.com/opengeospatial/ets-wfs11/issues/55#issuecomment-258426209 is outdated, the following can be used instead: http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs110?service=WFS&request=GetCapabilities

[2017-08-16 20:26] kstegemoller commented on #55
This
JAVA_OPTS="$JAVA_OPTS -Dfile.encoding=UTF-8"
is now active on production.

Running this URL
http://cite.deegree.org/deegree-webservices-3.4-RC3/services/wfs110?service=WFS&request=GetCapabilities

went from 3 failing before the change to all passing after changing to UTF-8.

[2017-08-17 06:14] #55 closed

[2017-08-22 10:12] #18 closed

[2017-08-22 10:12] #69 closed

[2017-08-23 22:24] bermud opened #72 "Update documentation regarding if corrigendum has been or not included in this test"
WFS Specs
http://www.opengeospatial.org/standards/wfs

Corrigendum here:
http://docs.opengeospatial.org/is/04-094r1/04-094r1.html

[2017-08-24 13:17] lgoltz opened #73 "wfs:wfs-1.1.0-Basic-GetFeature-tc5 fails with missing testdata if DCP Urls has a qeury string but does not end with a '&'"
If the DCP URL of the GetFeature Operation does not end with '?' the testdata could not be retrieved and the test fails.

Example from the capabilities:
[code]

The testdata are tried to requested with http://localhost:8080/GWBase/wfs?KEY=ABC1123service=WFS&version=1.1.0&request=GetFeature&typename=app:Ponds&namespace=xmlns(app=http://www.opengis.net/wfs)

The request URL is created in the method

[2017-08-24 16:21] jeanmichelfischer commented on #54
@dstenger Thanks again for your investigation. After correcting the unaccessible schema file the error was gone.

[2017-08-25 06:11] #54 closed

[2017-09-28 15:16] dstenger opened #74 "Test wfs-1.1.0-Basic-GetFeature-tc5 fails as property value is not encoded in filter"
Encoding for property value, which is used in the filter, must be encoded for test wfs-1.1.0-Basic-GetFeature-tc5.

[2017-09-28 15:26] dstenger commented on #74
Fix is provided via pull request #75.

[2017-09-28 15:29] dstenger commented on #74
Fix will be part of the next release if testing is successful.

[2017-10-27 13:47] #74 closed

[2017-11-07 08:10] lgoltz commented on #68
WFS 1.1.0 specifies the following classes of web feature services (p. 3):
 * Basic WFS
 * XLink WFS
 * Transaction WFS

The ETS groups the test in the following conformance classes (from the main entry point):
 * WFS-Basic: Implements GetCapabilities, DescribeFeatureType and GetFeature requests
 *  WFS-Transaction: Implements the Transaction request
 * WFS-Locking: Implements optional LockFeature

[2017-11-07 09:32] lgoltz commented on #68
Added conformance class configuration: https://github.com/opengeospatial/ets-wfs11/commit/d4938cb54d7eb920ebd9998371ac78ed92eb5ec8

Cause of https://github.com/opengeospatial/teamengine/issues/263 the output contains only the link to old test report.

[2017-11-07 11:29] lgoltz commented on #68
With the fix https://github.com/opengeospatial/teamengine/pull/264 the new HTML report is empty.

[2017-11-08 10:49] keshav-nangare commented on #68
According to documentation all conformance classes should be in the main.ctl file i.e. starting point of the test.

If we added this conformance classes in other places(files) then the CtlEarlReporter classes is not able to identify the conformance classes. So its mandatory to add in main.ctl file.

[2017-11-08 11:50] lgoltz commented on #68
@keshav-nangare Is the starting point decisive or the hierarchy level? A test suite could be completely scripted in one CTL file but with arbitrary hierarchy levels.

[2017-11-08 12:55] keshav-nangare commented on #68
To maintain the hierarchy level of conformance classes and its sub-tests. The CtlEarlReport will get the first level as conformance classes and then it will process all the sub-tests.

[2017-11-08 17:42] coim32 opened #76 "OWS 1.1.0 schemas missing"
document 04-094 section 7.7 specify that exceptions should use OWS 1.1.0 but those schemas are not in wfs\1.1.0\resources\xsd\ogc\ows and test fails with:
_
Testing wfs:wfs-1.1.0-Basic-DescribeFeatureType-POST-tc4 type Mandatory in Test Mode with defaultResult Pass (s0004/d68e38807_1/d68e636_1/d68e28820_1/d68e6470_1)...
                     Assertion: The following attributes are required for all

[2017-11-08 17:52] coim32 commented on #76
This is the ows exception response I'm testing with, it is correct?
<?xml version="1.0" encoding="UTF-8"?>
<ows:ExceptionReport xmlns:ows="http://www.opengis.net/ows" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.opengis.net/ows/1.1 ../owsExceptionReport.xsd" version="1.1.0">
  <ows:Exception exceptionCode="InvalidParameterValue" locator="service">
    <ows:E

[2017-11-09 07:38] dstenger commented on #76
Thank you for reporting this.
Can you provide a test service we can use to reproduce the behaviour?

[2017-11-13 22:09] coim32 commented on #76
not an issues

[2017-11-13 22:09] #76 closed

[2017-11-14 09:59] dstenger opened #77 "WFS 1.1 tests hang when executing with java"
Hello! We're experiencing some issues isolated to the WFS 1.1 test suite where the tests execute but fails to exit. The last output seen is such:

     [exec]                   Testing ctl:SchematronValidatingParser (wfs-1.1.0/d41e34700_1/d41e760_1/d41e31434_1/d41e30824_1/d41e31021_1)...
     [exec]                      Assertion: Validate an XML instance against a Schematron schema using the give

[2017-11-14 15:03] nstires-boundless commented on #77
Below is the stack trace of the process during the hung state:

[code]

[2017-11-14 15:04] nstires-boundless commented on #77
The tests are normally kicked off via Jenkins nightly as such:

`/usr/lib/jvm/java/bin/java -cp /var/jenkins/workspace/geoserver-cite/tools/engine/bin/../apps/engine/resources:/var/jenkins/workspace/geoserver-cite/tools/engine/bin/../apps/engine/dist/handler.jar:/var/jenkins/workspace/geoserver-cite/tools/engine/bin/../apps/engine/dist/teamengine.jar:/var/jenkins/workspace/geoserver-cite/tools/eng

[2017-12-20 06:44] keshav-nangare commented on #77
@dstenger

I am not able reproduce this issue. I tried to execute this test-suite via command line and its executed fine without any interruption.

`cmd: te-install\bin\windows\test.bat -source=C:\TE_BASE\scripts\wfs\1.1.0\ctl\main.ctl`

Can you please provide the steps or environment to reproduce this issue?

[2018-01-16 06:54] lgoltz opened #78 "wfs:wfs-1.1.0-Basic-GetCapabilities-tc7 fails with InvocationTargetException"
Trying to test our WFS server here and get the following result:

URL: http://192.168.100.165:9090/geoserver/test/wfsversion=1.1.0#request=GetCapabilities,service=WFS
Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflect.InvocationTargetExc

[2018-01-16 06:59] lgoltz commented on #78
@sprd16 Can you provide the capabilities URL of the service under test? What's the name of the failing test?

[2018-01-16 07:05] sprd16 commented on #78
Test wfs:wfs-1.1.0-Basic-GetCapabilities-tc7

[2018-01-16 07:26] lgoltz commented on #78
@sprd16 If the service is not public, please download the session and provide them to us.

[2018-01-16 07:55] sprd16 commented on #78
GetCapabilities session or error log

[2018-01-16 08:13] lgoltz commented on #78
The test session you can download after testing. But of course an error log could be helpful, too.
I assume you are testing locally?

[2018-01-16 08:24] sprd16 commented on #78
I downloaded Teamengine and setup it locally and got WFS-Test suite data from below url:
http://cite.opengeospatial.org/teamengine/about/wfs/1.1.0/site/index.html

When running my geoserver with test data, facing the problem
Please find the attached log file
[log.txt](https://github.com/opengeospatial/ets-wfs11/files/1634141/log.txt)

[2018-01-16 08:31] lgoltz commented on #78
There could be a problem with the missing question mark in the URL used for testing. Instead of http://192.168.100.165:9090/geoserver/test/wfsversion=1.1.0#request=GetCapabilities,service=WFS it should be http://192.168.100.165:9090/geoserver/test/wfs?version=1.1.0#request=GetCapabilities,service=WFS.

Can you change the configuration of the DCP URL for GetCapabilities GET in your capabilities and

[2018-01-16 10:59] sprd16 commented on #78
Method: get
   URL: http://192.168.100.165:9090/geoserver/sf/wfsversion=1.1.0#request=GetCapabilities,service=WFS
Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.String) throws java.lang.Throwable}: Exception in extension function java.lang.reflect.InvocationTargetException
Result: Failed

[2018-01-16 11:01] sprd16 commented on #78
I gave the URL:
http://192.168.100.165:9090/geoserver/sf/wfs?service=WFS&version=1.1.0&request=GetCapabilities .

But at wfs-1.1.0-Basic-GetCapabilities-tc7

Method: get
URL: http://192.168.100.165:9090/geoserver/sf/wfsversion=1.1.0#request=GetCapabilities,service=WFS

Error in call to extension function {public org.w3c.dom.NodeList com.occamlab.te.TECore.request(org.w3c.dom.Document,java.lang.Str

[2018-01-16 11:07] lgoltz commented on #78
Here the description of the test `wfs-1.1.0-Basic-GetCapabilities-tc7`:
[code]
So the URL http://192.168.100.165:9090/geoserver/sf/wfsversion=1.1.0#request=GetCapabilities,service=WFS is expected with the exception of the missing question mark as described in https://github.com/opengeospatial/ets-wfs11/issues/78#issuecomment-357887729

[2018-01-16 11:20] sprd16 commented on #78
Yes.
http://192.168.100.165:9090/geoserver/sf/wfs? (question mark) is missing here
version=1.1.0#request=GetCapabilities,service=WFS

Do I need to do any changes in geoserver WFS settings?

[2018-01-16 11:24] sprd16 commented on #78
Please find my geoserver settings
![geoserver_wfs](https://user-images.githubusercontent.com/35480183/34986532-ef61e1e2-fadd-11e7-8530-094c3fb98bc2.PNG)

[2018-01-16 16:17] lgoltz commented on #78
As far as I understand from OWS Common 1.0 (http://portal.opengeospatial.org/files/?artifact_id=8798) the HTTP GET URL must end with an question mark '?' or an ampersand '&' (see 11.2 HTTP GET). But as WFS 1.1.0 references OWS Common 0.3 I cannot ensure this is true for WFS 1.1.0.  This means I'm not sure if it is a failure in the ETS or not.
I'm not sure if the missing question mark is the cause

[2018-01-18 12:47] sprd16 commented on #78
Sorry, delay in replying.

If I check the URL without question mark , i am getting 404 error.

Now i am trying with WFS1.0.0 test data and it is failing at wfs:test1.0.0-basic-getfeature-filter-comparisonoperators-get-1 through 25

[2018-01-19 07:01] lgoltz commented on #78
@sprd16 Please create a new issue in the issue tracker of the ETS of the service you are testing  (https://github.com/opengeospatial/ets-wfs10/issues) and provide some more information.

[2018-01-19 07:26] lgoltz commented on #78
Fixed with commit https://github.com/opengeospatial/ets-wfs11/pull/79/commits/2790201e6ff640f716aed13a37613a09f26e1e2b, PR #79

[2018-02-08 10:59] lgoltz commented on #78
Fix was replaced by PR #80

[2018-02-08 11:00] lgoltz commented on #73
Fixed by #80

[2018-04-12 09:48] lgoltz commented on #68
Test was restructured that the configuration of the conformances classes is on the second level. Previously the main test `wfs:wfs-main` called the test `wfs:readiness-tests` which called the test configured as conformance class (configured in https://github.com/opengeospatial/ets-wfs11/issues/68#issuecomment-342425476).
Now the test  `wfs:wfs-main` calls the test `wfs:readiness-tests` which was c

[2018-04-17 14:56] #68 closed

[2018-04-18 13:59] #73 closed

[2018-04-18 13:59] #78 closed

[2018-08-22 08:16] dstenger opened #82 "Create SoapUI tests and integrate them into Maven and Jenkinsfile"
See opengeospatial/ets-wms13#56 for instructions.

Please use following service implementation: http://cite.deegree.org/deegree-webservices-3.4.0/services/wfs110?service=WFS&request=GetCapabilities

[2018-09-05 11:34] keshav-nangare opened #84 "Enable test execution using a RESTful API"
Create an interface to execute CTL test-suite using RESTful API.

Reference: https://github.com/opengeospatial/ets-wms13/issues/34

[2018-09-06 06:47] swen100 opened #85 "wfs-1.1.0-Basic-GetFeature-tc5 test failing"
Hello,

I have a problem with the WFS 1.1 basic test suite. All tests pass except this one: "wfs:wfs-1.1.0-Basic-GetFeature-tc5" (http://cite.opengeospatial.org/teamengine/listings/srv_local_teamengine-prod_TE_BASE_scripts_wfs_1.1.0_ctl_main.html#wfs:wfs-1.1.0-Basic-GetFeature-tc5)

The test result says that the WFS does not provide any data. But, as you can imagine, that's not true.

Here ist the

[2018-09-06 07:12] lgoltz commented on #85
@swen100 Can you provide some more information about the test environment (e.g local environment with docker, version of TEAM Engine and ETS)?

[2018-09-06 07:15] swen100 commented on #85
Hi, I have use the official website with teamengine
http://cite.opengeospatial.org/teamengine/

and no local test environment.

[2018-09-06 07:33] lgoltz commented on #85
Thanks!
I've tested again with [production](http://cite.opengeospatial.org/teamengine/) and a local setup with docker and can see that the test fails with
[code]

This is unexpected as the service provides several appropriate test data. I cannot see the failure and there is no error.log in the downloaded session, but the method GetFeatureTestExtension.findFeatureTypeAndPropertyName is propably the

[2018-09-06 07:38] swen100 commented on #85
Yes, I could see that there will was no error log created after the first execution of the tests. But when u execute a test again, then an error.log will be created (bug?).

Here is the newest error.log content:
[code]

[2018-09-06 08:28] lgoltz commented on #85
Test data could not be found cause of a namespace issue. In the capabilities document the name of the feature type `onmaps_alkis_flurstuecksgrenzen` and there is no default namspace binding. In the GML applicationschema as welll as in the GetFeature-response the target respectively default namespace is http://onmaps.de

You should add the default namespace  xmlns="http://onmaps.de" in the capabili

[2018-10-17 10:32] lgoltz commented on #84
@keshav-nangare Ist the fix for https://github.com/opengeospatial/teamengine/issues/362 required?

The name of the tes suite listed with http://localhost:8081/teamengine/rest/suites is currently  `OGC Web Feature Service 1.1.0 Exectutable Test Suite`, `Web Feature Service 1.1.0` is more readable.

The list of parameters http://localhost:8081/teamengine/rest/suites/wfs/1.33-SNAPSHOT/ described also

[2018-10-17 11:00] keshav-nangare commented on #84
@lgoltz

Yes, teamengine fix https://github.com/opengeospatial/teamengine/issues/362  is required for all the CTL based REST interface implementation.

This wfs-basic CC is defined in ctl test itself thats why I have added only for information. I will remove from this list. You can see here how wfs-basic is defined: https://github.com/opengeospatial/ets-wfs11/blob/c45d5e534e183990d30a5fbe173928f0e

[2019-05-15 15:07] dstenger commented on #82
@keshav-nangare
Configuration is outdated. Please do an update (just chapter `System tests`): https://github.com/opengeospatial/cite/wiki/How-to-run-tests-for-test-suites-with-SoapUI#system-tests

[2019-08-24 18:03] pblottiere opened #88 "https://nexus.geomatys.com:443: The target server failed to respond"
Hi,

It seems that `https://nexus.geomatys.com` server is not responding anymore:

[code]

Do you have any information?

And thanks for the good work :+1:!

[2019-08-26 08:22] dstenger commented on #88
Thank you for reporting.
I was able to reproduce the behaviour on my local machine by executing commands documented above.
@keshav-nangare Can you please do further analysis why this bug is occurring? In May 2019, it was still possible to build the project.

[2019-08-26 09:22] keshav-nangare commented on #88
@dstenger

I just tried the same steps and able to build successfully, also you can see the logs and the build is able to download the dependencies. Can you please try once again?

[code]

[2019-08-26 09:25] dstenger commented on #88
@keshav-nangare Can you please delete you local Maven repository (.m2 folder) and/ or use `-U` while building?

[2019-08-26 10:12] keshav-nangare commented on #88
@dstenger

You are right dependency is cached locally, I got the same error after deleting the .m2 folder.

[2019-09-12 07:05] keshav-nangare commented on #82
Updated the configuration to latest. Fixed with this commit: e2d4aad. Changes are pushed in same PR.

[2019-09-27 12:27] keshav-nangare commented on #88
@pblottiere @dstenger

You can try now to build testsuite. I am able to build the test suite successfully. The nexus server is down and facing the issue with DNS setting so now its up and running so the repository is accessible now.

[2019-10-01 12:58] pblottiere commented on #88
The issue is fixed now, thanks @dstenger and @keshav-nangare :+1:

[2019-10-01 12:58] #88 closed

[2019-10-17 20:35] sptillma opened #89 "wfs-1.1.0-Transaction-tc1.1- failure occurs on third GetFeaturebyId request in test, but not in browser"
I need some information determining if this is a test problem or a software problem.  The test does an insert of three features (that is successful).  It then validates the response schema (successful).  Then the test does three GetFeature request - one for each id that was inserted.  The first two are successful, but the third fails with a validation parsing error.  However, if I put the same req

[2019-10-18 07:38] dstenger commented on #89
Thank you for reporting.

@keshav-nangare Can you please do further investigation?

[2019-10-19 12:01] keshav-nangare commented on #89
I have tried to reproduce this issue using the above service but all three tests `GetFeatureById` are failed with a validation error.

[code]
![image](https://user-images.githubusercontent.com/14732650/67143864-89ef9080-f28d-11e9-88f2-19096e74b96c.png)

[2019-10-21 08:32] dstenger commented on #89
@sptillma
The same GML ID exists multiple times in a GML document. Thus, the response of the service is not valid GML.

[2019-10-21 14:25] sptillma commented on #89
I had already run the Insert transaction to place the three new feature in the service, but it appears someone ran the insert again and that is why it contains duplicate features.  I have reset the service to the point that none of the three feature are in the GML file.  That way the test can be run from the beginning.  Again, I will note that the insert works and the first two GetFeature requests

[2019-10-21 14:29] dstenger commented on #89
Thank you!

@keshav-nangare Can you please repeat the test?

[2019-10-22 08:11] keshav-nangare commented on #89
@sptillma

I have retested the test suite with service and able to reproduce the reported behavior. Following is the result of third test `GetFeaturebyId`:

ssertion: Attempts to fetch a feature by identifier using the GetFeature/GET binding.

[code]

If you see the validation error message, the schema is expecting the element with `sf:strProperty` instead of 'sf:str4Property', maybe i.e. the reas

[2019-10-22 12:50] dstenger commented on #89
@keshav-nangare The schema expects `sf:str4Property`. So, this element is correct.

@sptillma I also executed the insert statement manually to make reproduction easier. However, I executed the delete statement afterwards.

The service returns the following:
* GET http://ogc.intergraph.com/erdas-apollo/vector/WFSTCITE?request=GetFeature&service=WFS&version=1.1.0&featureid=cite.gmlsf0-f03
[code]

Th

[2019-10-23 08:13] dstenger commented on #89
@keshav-nangare Can you please check if the error also occurs on a local build (master branch)?

[2019-10-24 10:31] keshav-nangare commented on #89
@dstenger

I have tested the on the local environment with the master branch of test suite and teamengine, still getting the same error.

[2019-10-25 08:42] dstenger commented on #89
For now, we can consider this as a bug.
However, we should further do a deeper analysis.

[2020-01-07 05:50] lgoltz commented on #89
attribut.Géométrie and boolProperty are mandatory, they are missing in the response.

[2020-01-07 12:37] dstenger commented on #89
@lgoltz I agree to https://github.com/opengeospatial/ets-wfs11/issues/89#issuecomment-571446024.
@sptillma Can you please recheck your service?

[2020-01-07 16:59] #82 closed

[2020-03-18 10:59] dstenger commented on #77
@nstires-boundless Is this problem still occurring?

[2020-04-06 22:32] coim32 opened #90 "wfs-1.1.0-Basic-GetFeature-tc5 test failing"
This is the only test case that is failing in my server. I'm running using OGC teamengine service.
error log shows
`2020/04/06-18:16:57 ERROR
Test Name : wfs:wfs-1.1.0-Basic-GetFeature-tc5 type Mandatory
net.sf.saxon.s9api.SaxonApiException: Error in call to extension function {public static org.w3c.dom.Node org.opengis.cite.wfs11.GetFeatureTestExtension.findFeatureTypeAndPropertyName(org.w3c.dom.

[2020-04-07 12:07] dstenger commented on #90
Thank you for reporting,
@keshav-nangare Can you please take a look at the reported behavior?

[2020-04-10 11:20] keshav-nangare commented on #90
@coim32

The above-provided service is not working, can you please provide another service?

[2020-04-13 22:20] coim32 commented on #90
that server is working now

[2020-04-15 06:48] keshav-nangare commented on #90
@coim32  Thanks for making service available.

I tried to reproduce the issue using this service but found a different failure.
[code]
I debugged this issue and found the problem with `app` and `n2` prefixes, so while processing the response of GetFeature request with FeatureType so Xpath is not getting evaluated with n2 prefix and the method `findFeatureTypeAndPropertyName` returns null value so

[2020-04-15 15:23] dstenger commented on #90
As keshav-nangare already stated, Java method `findFeatureTypeAndPropertyName` returns null instead of a result leading to the reported behavior.
This can be reproduced by test in class `GetFeatureTestExtensionIT`.

The root cause of the failing test is that all properties are in namespace `http://www.opengis.net/gml` as you can see in view-source:http://150.136.177.253:8000/oraclespatial/wfs/wfs?

[2020-04-16 17:09] coim32 commented on #90
that was the problem, thanks for you help

[2020-04-16 17:09] #90 closed

[2020-09-16 10:44] dying-light commented on #85
@swen100 I met the same problem as you. How did you solve it?

[2020-09-17 11:02] swen100 commented on #85
Hi @dying-light, I had to add a default namespace xmlns="http://xxxxxx" in the capabilities document. See the last comment from Igoltz.

[2020-09-21 08:14] dying-light opened #91 "wfs-1.1.0-Basic-GetFeature-tc5 test failing"
All of my services have passed except this one.
error log shows:
Log for test s0004/d195e39205_1/d195e29192_1/d195e8345_1
Test wfs:wfs-1.1.0-Basic-GetFeature-tc5 type Mandatory default result Passed (s0004/d195e39205_1/d195e29192_1/d195e8345_1)

Assertion: XPath 1.0 shall be used to address parts of an XML representation using ogc:PropertyName. Support for
      the AbbreviatedRelativeLocationPath

[2020-09-22 03:01] #91 closed

[2021-04-26 19:28] dstenger opened #93 "Enable Docker support"
https://github.com/opengeospatial/cite/wiki/How-to-create-Docker-Images-of-test-suites

[2021-04-26 19:47] dstenger commented on #93
Docker support was enabled: https://github.com/opengeospatial/ets-wfs11/commit/53487c90adb4eb6190a3d5d3e4b6e2edf5841167

[2021-04-26 19:47] #93 closed

[2021-06-30 11:58] ghobona commented on #77
This issue appears to have been resolved, as shown by the recent build https://build.geoserver.org/job/cite-master-wfs-1.1/9/console

We'll close the issue on 2021-07-07.

[2021-07-05 08:27] #77 closed

[2021-11-10 20:03] sptillma commented on #89
I'm sorry it has taken me this long to see this, but we are trying to submit our product again after a recent release.  Unfortunately, I am still seeing the same problem.

[2021-11-11 12:33] dstenger commented on #89
@sptillma Did you consider following response? https://github.com/opengeospatial/ets-wfs11/issues/89#issuecomment-571446024

[2021-12-20 16:41] dstenger opened #94 "Deployment to Central Maven Repository fails"
[code]

[2022-03-28 08:35] lag945 opened #95 "Test result don't show wfs-1.1.0-Basic-GetCapabilities-tc8 ~ tc15"
Test version: 1.32
I got a failure on "Test wfs:wfs-1.1.0-Basic-GetCapabilities-tc13 Failed".
But the website just show [run-GetCapabilities-basic-cc-GET]  Inherited fail: 1 and Fail: 0 , It's hard to debug what's happened.

[2022-03-28 16:42] dstenger commented on #95
Thank you for reporting. We will do further investigation.

Can you please provide a service which can be used to reproduce the reported behavior?

[2022-03-29 00:55] lag945 commented on #95
Sure.
I can't offer a stabainng online service, but there're a certified Product live test
[code]

## Setting
![](https://i.imgur.com/WaeSjzh.png)

## Test result(only Basic-GetCapabilities-tc1~tc7)
![](https://i.imgur.com/CEbMMQM.png)

## Test console
![](https://i.imgur.com/RoDsgyO.png)

[2022-11-29 00:40] davidblasby opened #96 "wfs:wfs-1.1.0-Basic-GetFeature-tc4 -- checks look incorrect (wrong value)"
I am looking at the wfs-1.1.0-Basic-GetFeature-tc4 tests and getting failures.  However, I think my results are correct and the test case is incorrect.

**service**

request2 makes a "bad" `service` KVP request:

https://github.com/opengeospatial/ets-wfs11/blob/master/src/main/scripts/ctl/basic/GetFeature/GetFeature-GET.xml#L438

However, the check tests for a bad `request `

https://github.com/op

[2022-11-29 02:44] davidblasby commented on #96
The other issue with the "version" test is that its unclear which ExceptionReport should be given.

For example, Geoserver support WFS 1.0.0, 1.1.0, and 2.0

If no `version=...` is given, it unclear with version of the exceptionreport should be given.

I believe that ets-wfs11 assumes this is a WFS 1.1.0 exception.

However, geoserver returns a WFS 2.0 exception.  This looks the same (xml document

[2022-11-29 02:55] jodygarnett commented on #96
This is very similar to https://github.com/opengeospatial/ets-wfs11/issues/66

[2022-11-30 18:21] davidblasby commented on #96
PR is here - https://github.com/opengeospatial/ets-wfs11/pull/97